*{
    padding: o;
    margin: 0;
}

#wrapper{
    margin-left: 10%;
    margin-top: 5%;
}

.blok{
    height: 100px;
    width: 100px;
}

#color1{
    background-color: #FE657D;
}

#color2{
    background-color: #FCB2A9;
}

#color3{
    background-color: #E3E3DB;
}

#color4{
    background-color: #94E4C9;
}

#color5{
    background-color: #509B7D;
}